@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import "tailwindcss";

.animate-float {
  animation: float 5s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.font-jersey {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  user-select: none;
}
